@font-face {
  font-family: Helvet;
  src: url('./Helvetica.ttf')
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvet;
}

#root {
  display: grid;
  row-gap: 1em;
  margin-top: 1em;
}

.sect-a {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
}

.left-col {
  display: grid;
  justify-content: center;
}

.word-grid {
  display: grid;
  grid-template-columns: 226.24px;
  grid-template-rows: repeat(5, min-content);
  row-gap: 0.75em;
  margin-top: 2.7em;
  list-style-type: none;
}

.word-grid li {
  font-size: 1.5rem;
  font-weight: 500;
}

.right-col {
  display: grid;
  justify-content: center;
}

.letter-a {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: -0.011em 0.04em -0.231em 0;

  color: #E91E63;
  font-size: 20rem;
  font-weight: 900;
  text-align: center;
}

.alpha-num-grid {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: repeat(7, min-content);
  grid-template-rows: repeat(5, min-content);
  column-gap: 0.6em;
  row-gap: 0.75em;
  justify-content: center;
  height: min-content;
  margin-top: 2.7em;
  
  list-style-type: none;
}

.alpha-num-grid > li {
  font-size: 1.5rem;
  font-weight: 500;
  justify-self: center;
}

.sect-b {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  background-color: #FFFF00;
  margin-bottom: 1em;
}

.letter-b {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: -0.011em 0.04em -0.231em 0;

  color: #FFFFFF;
  font-size: 20rem;
  font-weight: 900;
  text-align: center;
}