@font-face {
  font-family: Helvet;
  src: url('./Helvetica.ttf')
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvet;
}

#root {
  display: grid;
  row-gap: 1em;
  margin-top: 1em;
}

.sect-a {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
}

.left-col {
  display: grid;
  justify-content: center;
}

.word-grid-a {
  display: grid;
  grid-template-columns: 226.24px;
  grid-template-rows: repeat(5, min-content);
  row-gap: 0.9em;
  margin-top: 2.25em;
  list-style-type: none;
}

.word-grid-a li {
  font-size: 1.5rem;
  font-weight: 500;
  width: max-content;
}

.right-col {
  display: grid;
  justify-content: center;
}

.letter-a {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: -0.011em 0.04em -0.231em 0;

  color: #E91E63;
  font-size: 20rem;
  font-weight: 900;
  text-align: center;
}

.alpha-num-grid {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: repeat(7, min-content);
  grid-template-rows: repeat(5, min-content);
  column-gap: 0.63em;
  row-gap: 0.9em;
  justify-content: center;
  height: min-content;
  margin-top: 2.25em;
  
  list-style-type: none;
}

.alpha-num-grid > li {
  font-size: 1.5rem;
  font-weight: 500;
  justify-self: center;
}

.sect-b {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  background-color: #FFFF00;
  margin-bottom: 1em;
}

.letter-b {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: -0.011em 0.04em -0.231em 0;

  color: #FFFFFF;
  font-size: 20rem;
  font-weight: 900;
  text-align: center;
}

.sect-b-overlay {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
}

.word-grid-b {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  padding: 0.975em 4.55em 0.625em 36.88px;
  grid-column: 1 / 3;
}

.row {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.row > li {
  font-size: calc(1rem + 0.3vw);
  font-weight: 500;
}

.sect-c {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  margin-top: -0.63em;
}

.word-grid-c {
  display: grid;
  grid-template-columns: 226.24px;
  grid-template-rows: repeat(5, min-content);
  row-gap: 1.25em;
  margin-top: 0.7em;
  list-style-type: none;
}

.word-grid-c li {
  font-size: 1.5rem;
  font-weight: 500;
  width: max-content;
}

.letter-c {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: -0.011em 0.04em -0.231em 0;

  color: #1565C0;
  font-size: 20rem;
  font-weight: 900;
  text-align: center;
}

.alpha-sym-grid {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: repeat(7, min-content);
  grid-template-rows: repeat(5, min-content);
  column-gap: 0.99em;
  row-gap: 1.25em;
  justify-content: center;
  height: min-content;
  margin-top: 0.7em;
  
  list-style-type: none;
}

.alpha-sym-grid > li {
  font-size: 1.5rem;
  font-weight: 500;
  justify-self: center;
}