@font-face {
  font-family: Helvet;
  src: url('./Helvetica.ttf')
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvet;
}

body {
  padding: 5em;
}

.sect-a {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10em;
}

.right-col {
  display: grid;
  align-items: center;
  justify-content: center;
}

.letter-a {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 20rem;
  font-weight: 900;
  margin-right: 0.04em;
  margin-top: 0.2em;
  text-align: center;
}

.alpha-num-grid {
  display: grid;
  grid-template-columns: repeat(7, min-content);
  grid-template-rows: repeat(5, min-content);

  column-gap: 0.56em;
  row-gap: 0.68em;

  justify-content: center;

  grid-column: 1 / 2;
  grid-row: 1 / 2;

  list-style-type: none;
}

.alpha-num-grid > li {
  font-size: 1.5rem;
  justify-self: center;
}

