@font-face {
  font-family: Helvet;
  src: url('./fonts/Helvetica.ttf')
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvet;
 }

#root {
  display: grid;
  row-gap: 1em;
  margin-top: 1em;
}