.container-b {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  background-color: #FFFF00;
  height: 218px;
}

.sect-b-underlay {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  height: 218px;
}

.letter-b {
  color: #FFFFFF;
  font-size: 20rem;
  font-weight: 900;
  margin-top: -0.233em;
  text-align: center;
}

.sect-b-overlay {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  height: 218px;
}

.word-grid-b {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  /*
  34.455px lines up the left edge of word-grid-a with word-grid-b.
  [300px (width of column) - 231.09px (width text container)] / 2 = 34.455px
  */
  padding: 0.72em 4.7em 0 34.455px;
  height: 218px;
  width: 498px;
}

.row {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.row > li {
  font-size: 1.25rem;
  font-weight: 500;
}

@media (max-width: 615px) {
  .word-grid-b {
    padding: 0;
    width: 100%;
  }
  .row {
    align-items: center;
  }
  .row > li {
    font-size: 0.85rem;
  }
}