.sect-c {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  margin-top: -1em;
}

.word-grid-c {
  display: grid;
  /* 
    226.24px equals width of the letter 'A' at 20rems with its additional margin-right.
    This width is needed for word-grid-a to properly center the content 
    for the 2 columns in this section.
  */
  grid-template-columns: 226.24px;
  grid-template-rows: repeat(5, min-content);
  row-gap: 0.75em;
  margin-top: 0.7em;

  list-style-type: none;
}

.word-grid-c li {
  font-size: 1.5rem;
  font-weight: 500;
  width: max-content;
}

.letter-c {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: center;
  margin-top: -0.22em;
  color: #1565C0;
  font-size: 20rem;
  font-weight: 900;
}

.alpha-sym-grid {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: repeat(7, min-content);
  grid-template-rows: repeat(5, min-content);
  column-gap: 0.9em;
  row-gap: 0.75em;
  justify-content: center;
  height: min-content;
  margin-top: 0.7em;
  
  list-style-type: none;
}

.alpha-sym-grid > li {
  font-size: 1.5rem;
  font-weight: 500;
  justify-self: center;
}

@media (max-width: 650px) {
  .left-col {
    display: none;
  }
}